@import '../../../assets/scss/colors';
@import '../../../assets/scss/utils';

.bold {
  font-weight: bold;
}

.image {
  object-fit: cover;
  border-radius: 5px;
}

.information_wrapper {
  display: flex;
  height: 240px;
  padding-top: 20px;
}

.information {
  margin-left: 30px;
}

.link {
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

// tablet
@include viewport-down(tablet) {
  .image {
    height: 220px;
  }
}

// mobile
@include viewport-down(mobile) {
  .image {
    width: 100%;
  }
  .information_wrapper {
    display: block;
  }
}
