<layout *ngIf="details">
  <div header class="header">
    <a [routerLink]="['/characters']">Characters</a> > {{details.name}}
  </div>
  <div class="information">
    <img class="information_image" src="{{details.image}}" alt="">
    <i class="fas fa-expand information_icon--expand" (click)="onEnlarge()"></i>
    <div class="information_details">
      <favorite class="information_details--favorite" [id]="details.id"></favorite>
      <species [species]="details.species"></species>
      <h2>{{details.name}}</h2>
      <ul class="information_details--list">
        <li>Gender: <span class="light">{{details.gender}}</span></li>
        <li>Status: <span class="light">{{details.status}}</span></li>
        <li>Origin: <span class="light">{{details.name}}</span></li>
      </ul>
    </div>
  </div>
</layout>

<div class="popup" [class.popup--visible]="showPopUp" (click)="onClose()">
  <img class="popup_image" (click)="onClose($event)" src="{{details?.image}}" alt="">
</div>
