<layout *ngIf="details">
  <div header>
    <a class="link" [routerLink]="['/characters']">Characters</a> > {{details.name}}
  </div>
  <div class="information_wrapper">
    <img class="image" src="{{details.image}}" alt="">
    <img class="icon_enlarge" (click)="onEnlarge()" src="../../../assets/img/enlarge.png" alt="">
    <div class="information">
      <species [species]="details.species"></species>
      <h2>{{details.name}}</h2>
      <ul>
        <li><span class="bold">Gender:</span> {{details.gender}}</li>
        <li><span class="bold">Status:</span> {{details.status}}</li>
        <li><span class="bold">Origin:</span> {{details.origin.name}}</li>
      </ul>
    </div>
  </div>
</layout>

<div class="popup" [class.popup--visible]="showPopUp" (click)="onClose()">
  <img class="popup_image" (click)="onClose($event)" src="{{details?.image}}" alt="">
</div>
