@import '../../../assets/scss/colors';
@import '../../../assets/scss/utils';

.bold {
  font-weight: bold;
}

.image {
  object-fit: cover;
  border-radius: 5px;
}

.information {
  margin-left: 40px;
}

.information_wrapper {
  display: flex;
  height: 240px;
  padding-top: 20px;
}

// tablet
@include viewport-down(tablet) {
  .image {
    height: 220px;
  }
}

// mobile
@include viewport-down(mobile) {
  .image {
    width: 100%;
  }

  .information {
    margin-left: 0;
    margin-top: 40px;
  }

  .information_wrapper {
    display: block;
    height: unset;
  }
}
