@import '../../../assets/scss/colors';

:host {
  border: $grey 1px solid;
  border-radius: 10px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.image {
  margin-top: -35px;
  position: absolute;
  width: 100%;
}

.information {
  background-color: white;
  bottom: 0;
  box-sizing: border-box;
  padding: 15px;
  position: absolute;
  width: 100%;
}

.specie {
  color: $green;
  border: 1px solid $green;
  width: fit-content;
  padding: 2px 7px;
  margin-top: 5px;
}

.specie--human {
  color: $red;
  border: 1px solid $red;
}
