@import '../../../assets/scss/colors';
@import '../../../assets/scss/utils';

:host {
  border: $grey 1px solid;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  &:after {
    @include transition('opacity');

    background-color: black;
    content: '';
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:hover {
    &:after {
      opacity: .2;
    }

    .information {
      bottom: 0;
    }
  }
}

.favorite {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
}

.image {
  margin-top: -35px;
  width: 100%;
}

.information {
  @include transition('bottom');

  background-color: white;
  bottom: -41px;
  box-sizing: border-box;
  padding: 15px;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.information_name {
  padding-bottom: 15px;
}

// tablet & mobile
@include viewport-down(tablet) {
  .information {
    bottom: 0;
  }
}
