@import '../../../assets/scss/colors';

:host {
  border-top: 1px solid $grey;
  display: block;
  padding: 20px 60px;
}

.header {
  animation: 1s border-animation infinite linear;
  border-bottom: 2px solid $blue;
  margin-bottom: 20px;
}

@keyframes border-animation {
  0% {
    border-color: $blue;
  }
  50% {
    border-color:  $yellow;
  }
  100% {
    border-color:  $blue;
  }
}
