@import '../../../assets/scss/colors';
@import '../../../assets/scss/utils';

:host {
  border-top: 1px solid $grey;
  display: block;
  padding: 0 200px;
}

.header {
  animation: 1s border-animation infinite linear;
  border-bottom: 2px solid $blue;
  height: 80px;
  line-height: 80px;
  margin-bottom: 20px;
}

@keyframes border-animation {
  0% {
    border-color: $blue;
  }
  50% {
    border-color:  $yellow;
  }
  100% {
    border-color:  $blue;
  }
}

// tablet & mobile
@include viewport-down(tablet) {
  :host {
    padding: 0 40px;
  }
}
