@import '../../../assets/scss/colors';
@import '../../../assets/scss/utils';

:host {
  display: inline-block;
}

.star {
  @include transition('color');

  color: rgba($grey, .5);
  cursor: pointer;
  font-size: 30px;

  &:hover {
    color: $grey;
  }

  &.favorite {
    color: $blue;
  }
}
