@import '../../../assets/scss/utils';

.card {
  cursor: pointer;
  flex: 1 1 0%;
  margin: 20px;
  min-width: calc(100%/5);

  &:focus {
    outline: none;
  }
}

.card_wrapper {
  @include transition('opacity');

  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  opacity: 1;

  &.card_wrapper--searching {
    opacity: 0;
  }
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.search:focus {
  outline: none;
}
