<layout>
  <div header class="header">
    <span class="header_title">Characters</span>
    <div class="header_search">
      <i class="fas fa-search header_search--icon"></i>
      <input class="header_search--input" #inputString placeholder="Search..." (keyup)="filter(inputString.value)"/>
    </div>
  </div>
  <div class="sub_header" [ngSwitch]="favorites">
    <button *ngSwitchCase="true" (click)="goToAllCharacters()">Return to all characters</button>
    <ng-container *ngSwitchDefault>
      <button (click)="goToFavorites()">My favorites</button>
      <div class="sub_header--pagination">
        <button (click)="goToPage(-1)" [attr.disabled]="isButtonDisabled(-1)"><</button>
        <button [class.current]="i === 2" *ngFor="let item of [].constructor(5); let i = index" (click)="goToPage(i - 2)" [attr.disabled]="isButtonDisabled(i - 2)">{{page + i - 2}}</button>
        <button (click)="goToPage(1)" [attr.disabled]="isButtonDisabled(1)">></button>
      </div>
    </ng-container>
  </div>
  <div class="card_wrapper" [class.card_wrapper--searching]="searching">
    <card class="card" *ngFor="let character of characters" [routerLink]="['/character-detail', character.id]" [details]="character"></card>
    <div class="card card--hidden" *ngFor="let item of [].constructor(3)"></div>
  </div>
  <div class="error_message">
    <div *ngIf="showNotFound">
      Sorry, the character does not exist, try again!
      <i class="far fa-sad-tear error_message--sad"></i>
    </div>
    <div *ngIf="showNotFavorites">
      You have no favorites, select some by clicking this star!
      <favorite class="error_message--favorite"></favorite>
    </div>
  </div>
</layout>
